<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bye-bye baby bye-bye</title>
    <script src="../static/test.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/test.css">
</head>
<body>
    <h1 id="headline">Goodbye, world!</h1>
    <form id="main_form" method="post">
        <textarea id="id_text">Hallo</textarea>
        <button type="button" onclick="postText()">Send</button>
    </form>
    <div id="text_kram">
        <!-- display messages here -->
    </div>
</body>
</html>